.cta {
  background-color: $color-primary;
  color: $color-white;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 1rem 2rem;
  outline: none;
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  cursor: pointer;
  @include button-interaction;
}

.above-the-fold__cta {
  background-color: $color-secondary;
  color: $color-black;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 1rem 2rem;
  outline: none;
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  cursor: pointer;
  @include button-interaction;
}

.go-to-home {
  display: flex;
  margin-inline: 2rem;
  margin-top: 8rem;
  margin-bottom: 2rem;

  a {
    text-decoration: none;
  }
  
  .above-the-fold__cta {
    @include flex(row, center, center);
    gap: 0.5rem;
    background-color: $color-secondary;
    color: white;
    padding: 0.75rem 1.5rem;
    border-radius: 2rem;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: $transition;
    
    &:hover {
      background-color: darken($color-secondary, 10%);
      transform: translateY(-2px);
    }
  }
}