@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.6;
  font-size: 16px;
  font-weight: normal;
  font-kerning: normal; }
  html body {
    margin: 0;
    padding: 0; }
  html input, html button, html textarea, html select {
    font: inherit; }
  html p, html h1, html h2, html h3, html h4, html h5, html h6 {
    overflow-wrap: break-word; }

body {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  background-color: #f8f8ff; }

.wrapper {
  margin: 2rem 2rem 2rem 2rem; }

/*////////////////////  HEADER ///////////////// */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  height: 0;
  background-color: #000000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 2.5rem;
  margin: 0; }
  .header .logo__title {
    vertical-align: middle;
    color: #f920ce;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1px; }
  .header .navigation__list {
    list-style-type: none;
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    transition: left 0.3s; }
  .header .navigation__item {
    margin-right: 0rem;
    padding: 1.5rem;
    font-size: 1.3rem;
    font-weight: 700;
    letter-spacing: 1px; }
    .header .navigation__item:link, .header .navigation__item:visited {
      color: #f920ce;
      text-decoration: none; }
    .header .navigation__item:hover, .header .navigation__item:active {
      color: #1ff94b; }

/*////////////////////  HERO SECTION ///////////////// */
.above-the-fold {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  margin-top: 0;
  margin-bottom: 0;
  gap: 2rem;
  padding: 0 5rem; }
  .above-the-fold__text {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3rem;
    animation: reveal-left 1.5s ease-out; }
  .above-the-fold__svg {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: reveal-right 1.5s ease-out; }
  .above-the-fold__title {
    color: #000000;
    font-size: 5.5rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: left;
    margin-bottom: -2rem; }
  .above-the-fold__subtitle {
    text-align: left;
    letter-spacing: 2px;
    font-weight: 200;
    font-size: 3.5rem;
    opacity: 0.9;
    color: #000000; }
    .above-the-fold__subtitle p {
      margin: 0; }
  .above-the-fold__cta {
    background-color: #e260d9;
    color: #000000;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 1rem 2rem;
    outline: none;
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
    transition: all 0.2s; }
    .above-the-fold__cta:hover {
      transform: translateY(-0.3rem); }
    .above-the-fold__cta:active {
      transform: translateY(0); }

/*////////////////////  WORK SECTION ///////////////// */
#work-section:before {
  content: "";
  display: block;
  height: 21vh;
  margin-top: -21vh; }

.work-section {
  padding: 2rem 0; }
  .work-section__title {
    text-align: center;
    font-size: 4rem;
    padding-bottom: 2rem;
    letter-spacing: 1px; }
  .work-section .cards__container {
    display: flex;
    flex-wrap: wrap; }
    .work-section .cards__container .card {
      text-decoration: none;
      background-color: #ffffff;
      border: 1px solid #e5e5e5;
      border-radius: 0.8rem;
      margin: 1rem;
      padding: 1rem;
      width: calc(33.33% - 2rem);
      box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
      transition: all 0.3s ease; }
      .work-section .cards__container .card:hover {
        transform: translateY(-0.5rem); }
      .work-section .cards__container .card__tags {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
        margin-bottom: 1rem; }
      .work-section .cards__container .card__tag {
        color: #f920ce;
        font-size: 0.8rem;
        font-weight: 600;
        padding: 0.5rem 1rem;
        border-radius: 1rem;
        border: 1px solid #f920ce; }
      .work-section .cards__container .card__img {
        margin-bottom: 1rem;
        width: 100%;
        height: 15rem;
        object-fit: cover;
        border-radius: 0.5rem 0.5rem 0 0; }
      .work-section .cards__container .card__title {
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1px;
        margin-bottom: 0.5rem; }
      .work-section .cards__container .card__description {
        font-size: 1.2rem;
        letter-spacing: 1px;
        margin-bottom: 1rem;
        height: 100%; }
      .work-section .cards__container .card__cta {
        text-decoration: none;
        background-color: #f920ce;
        color: #ffffff;
        border: none;
        padding: 0.5rem 1rem;
        border-radius: 0.25rem;
        cursor: pointer;
        display: inline-block;
        width: fit-content; }
        .work-section .cards__container .card__cta:link, .work-section .cards__container .card__cta:visited {
          color: #ffffff; }
        .work-section .cards__container .card__cta:hover, .work-section .cards__container .card__cta:active {
          background-color: #000000;
          color: #ffffff;
          text-decoration: none; }

/*//////////////////// ABOUT ME ///////////////// */
.about-me {
  display: flex;
  margin-top: 10rem; }
  .about-me .profile-picture-container {
    display: flex;
    align-items: center;
    margin-left: 4rem; }
    .about-me .profile-picture-container__img {
      width: 35rem;
      height: 35rem;
      border-radius: 500px; }
  .about-me .about-me-container {
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-left: 12rem; }
    .about-me .about-me-container .about-me-title {
      font-size: 4rem;
      padding: 0;
      margin: 0;
      letter-spacing: 1px; }
    .about-me .about-me-container .about-me-description {
      font-size: 1.5rem;
      font-weight: 700;
      padding: 0;
      margin: 0;
      letter-spacing: 1px;
      line-height: 1.5; }
      .about-me .about-me-container .about-me-description b,
      .about-me .about-me-container .about-me-description a {
        color: #f920ce; }

/*//////////////////// NUOVA SEZIONE///////////////// */
.new-section {
  margin-top: 10rem;
  /* ///////////// SKILL /////////// */ }
  .new-section__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px; }
    .new-section__grid .left-column {
      display: flex;
      flex-direction: column;
      padding: 0px 32px; }
    .new-section__grid .right-column {
      display: flex;
      flex-direction: column;
      padding: 0px 32px; }
    .new-section__grid .highlighted-heading {
      position: relative;
      margin-bottom: 56px; }
      .new-section__grid .highlighted-heading h3 {
        color: #f920ce;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1px;
        position: relative;
        z-index: 1;
        display: inline-block;
        margin: 0;
        text-align: left; }
    .new-section__grid .experience {
      margin-bottom: 56px; }
      .new-section__grid .experience h4 {
        font-size: 1.5rem;
        font-weight: 700;
        letter-spacing: 1px;
        margin-bottom: 16px;
        position: relative; }
      .new-section__grid .experience .body-large {
        display: inline-block;
        color: #ffffff;
        font-size: 1.2rem;
        font-weight: 400;
        letter-spacing: 1px;
        background-color: #000000;
        text-decoration: none;
        padding: 5px 20px;
        border-radius: 100px;
        margin-bottom: 16px;
        /* Spazio sotto il sottotitolo body-large */ }
      .new-section__grid .experience p {
        font-size: 1.2rem;
        font-weight: 700;
        letter-spacing: 1px;
        margin-bottom: 0; }
  .new-section .skills {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    /* Spazio tra le skill */ }
  .new-section .skill {
    font-size: 1.2rem;
    color: #ffffff;
    font-weight: 400;
    letter-spacing: 1px;
    background-color: #000000;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 100px;
    border: 1px solid #000000; }

/* ///////////////////////////// GO BACK HOME ////////////////////////// */
.go-to-home {
  margin-top: 7rem; }

/* ///////////////////////////// FOOTER ////////////////////////// */
.footer {
  width: 100%;
  height: 72px;
  background-color: #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 60px; }
  .footer__left {
    color: #f920ce;
    text-decoration: none;
    font-size: 1.2rem;
    letter-spacing: 1px; }
  .footer__right {
    display: flex;
    align-items: center; }
    .footer__right .social-icons a {
      margin-right: 10px;
      text-decoration: none; }
    .footer__right .social-icons img,
    .footer__right .social-icons a {
      width: 48px;
      height: 48px; }
      .footer__right .social-icons img:link, .footer__right .social-icons img:visited,
      .footer__right .social-icons a:link,
      .footer__right .social-icons a:visited {
        color: #f920ce;
        text-decoration: none; }
      .footer__right .social-icons img:hover, .footer__right .social-icons img:active,
      .footer__right .social-icons a:hover,
      .footer__right .social-icons a:active {
        color: #1ff94b; }

.cta {
  background-color: #1ff94b;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 1rem 2rem;
  outline: none;
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
  transition: all 0.2s; }
  .cta:hover {
    transform: translateY(-0.3rem); }
  .cta:active {
    transform: translateY(0); }

.custom-padding-x {
  padding: 0 5rem; }

.section-title {
  font-size: 2.5rem;
  color: #e5e5e5; }

.section-title {
  position: relative;
  display: inline-block;
  padding-left: 20px; }

.section-title:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #000000; }

.input {
  font-size: inherit; }

@keyframes reveal-left {
  0% {
    transform: translateX(-100%);
    opacity: 0; }
  100% {
    transform: translateX(0);
    opacity: 1; } }

@media only screen and (max-width: 1300px) {
  html {
    font-size: 12px; }
  .about-me {
    flex-direction: column;
    align-items: center;
    padding: 0; }
    .about-me .profile-picture-container {
      margin: 0 0 6rem 0; }
      .about-me .profile-picture-container__img {
        width: 30rem;
        height: 30rem; }
    .about-me .about-me-container {
      margin: 0 6rem; }
  .new-section__grid {
    grid-template-columns: 1fr;
    gap: 5rem; } }

@media only screen and (max-width: 1024px) {
  body {
    font-size: 10px; }
  .logo__title {
    display: none; }
  .work-section .cards__container {
    flex-direction: column;
    align-items: center;
    gap: 3rem; }
    .work-section .cards__container .card {
      width: calc(90% - 2rem); } }

@media only screen and (max-width: 600px) {
  .above-the-fold {
    flex-direction: column-reverse;
    gap: 1rem;
    height: auto;
    margin-top: 5rem;
    margin-bottom: 15rem; }
    .above-the-fold__svg {
      flex: none;
      width: 100%; }
      .above-the-fold__svg svg {
        max-height: 350px;
        transform: scale(0.7); }
    .above-the-fold__text {
      flex: none;
      width: 100%;
      align-items: center;
      text-align: center;
      gap: 1.5rem; }
    .above-the-fold__title {
      font-size: 4rem;
      margin-bottom: -1rem;
      text-align: center; }
    .above-the-fold__subtitle {
      font-size: 2.5rem;
      text-align: center; }
      .above-the-fold__subtitle p {
        text-align: center; }
    .above-the-fold__cta {
      font-size: 1rem;
      padding: 0.8rem 1.6rem; }
  .about-me,
  .new-section,
  .work-section,
  .above-the-fold {
    padding: 0; }
  .wrapper {
    margin: 0; }
  .profile-picture-container__img {
    width: 25rem !important;
    height: 25rem !important; }
  .about-me-container {
    margin: 0 2.5rem !important; }
  .go-to-home {
    margin-left: 2rem; }
  .checkbox__label {
    display: flex !important;
    cursor: pointer;
    padding: 10px; }
  .checkbox__icon {
    font-size: 2rem; }
  .navigation {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100vh;
    background-color: #000000;
    transition: right 0.3s ease;
    margin-top: 5rem; }
    .navigation__list {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 5rem !important; }
    .navigation__item {
      font-size: 3rem !important; }
  #check:checked ~ .navigation {
    right: 0 !important; }
  .footer {
    padding: 0 2rem; } }

.checkbox__input {
  display: none; }

.checkbox__label {
  display: none;
  color: #f920ce; }

.checkbox__icon {
  color: #f920ce; }

.navigation {
  display: flex;
  justify-content: center;
  align-items: center; }

/* ///////////////////////////// PROJECT DETAIL ////////////////////////// */
.project-details {
  margin-top: 2rem; }
  .project-details .project-header {
    margin-bottom: 4rem; }
    .project-details .project-header .project-tags {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;
      margin-bottom: 1rem; }
    .project-details .project-header .card__tag {
      color: #f920ce;
      font-size: 0.8rem;
      font-weight: 600;
      padding: 0.5rem 1rem;
      border-radius: 1rem;
      border: 1px solid #f920ce; }
    .project-details .project-header .project-title {
      font-size: 4rem;
      font-weight: 700;
      letter-spacing: 1px;
      margin-bottom: 1.5rem; }
  .project-details .project-section {
    margin-bottom: 4rem; }
    .project-details .project-section h2 {
      font-size: 2.5rem;
      font-weight: 700;
      letter-spacing: 1px;
      margin-bottom: 2rem; }
    .project-details .project-section p {
      font-size: 1.2rem;
      line-height: 1.6;
      letter-spacing: 1px; }
  .project-details .project-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin: 2rem 0; }
    .project-details .project-images img {
      width: 100%;
      height: auto;
      border-radius: 0.8rem;
      box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1); }
  .project-details .project-download {
    margin-top: 4rem;
    text-align: center; }

/* Media Queries for Project Detail Page */
@media only screen and (max-width: 1024px) {
  .project-details .project-header .project-title {
    font-size: 3rem; }
  .project-details .project-images {
    grid-template-columns: 1fr; } }

@media only screen and (max-width: 600px) {
  .project-details {
    padding: 0 2rem; }
    .project-details .project-header .project-title {
      font-size: 2.5rem; }
    .project-details .project-section h2 {
      font-size: 2rem; }
    .project-details .project-section p {
      font-size: 1rem; } }
