.above-the-fold {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  margin-top: 0;
  margin-bottom: 0;
  gap: 2rem;
  padding: 0 5rem;

  &__text {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3rem;
    animation: reveal-left 1.5s ease-out;
  }

  &__svg {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: reveal-right 1.5s ease-out;
  }

  &__title {
    color: $color-black;
    font-size: 5.5rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: left;
    margin-bottom: -2rem;
  }

  &__subtitle {
    text-align: left;
    letter-spacing: 2px;
    font-weight: 200;
    font-size: 3.5rem;
    opacity: 0.9;
    color: $color-black;

    p {
      margin: 0;
    }
  }
}

// Responsive
@include respond-to(extra-small) {
  .above-the-fold {
    flex-direction: column-reverse;
    gap: 1rem;
    height: auto;
    margin-top: 5rem;
    margin-bottom: 15rem;
    padding: 0;

    &__svg {
      flex: none;
      width: 100%;
      
      svg {
        max-height: 350px;
        transform: scale(0.7);
      }
    }

    &__text {
      flex: none;
      width: 100%;
      align-items: center;
      text-align: center;
      gap: 1.5rem;
    }

    &__title {
      font-size: 4rem;
      margin-bottom: -1rem;
      text-align: center;
    }

    &__subtitle {
      font-size: 2.5rem;
      text-align: center;
      
      p {
        text-align: center;
      }
    }

    &__cta {
      font-size: 1rem;
      padding: 0.8rem 1.6rem;
    }
  }
}