.about-me {
  display: flex;
  margin-top: 10rem;

  .profile-picture-container {
    display: flex;
    align-items: center;
    margin-left: 4rem;

    &__img {
      width: 35rem;
      height: 35rem;
      border-radius: 500px;
    }
  }

  .about-me-container {
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-left: 12rem;

    .about-me-title {
      font-size: 4rem;
      padding: 0;
      margin: 0;
      letter-spacing: 1px;
    }

    .about-me-description {
      font-size: 1.5rem;
      font-weight: 700;
      padding: 0;
      margin: 0;
      letter-spacing: 1px;
      line-height: 1.5;

      b,
      a {
        color: $color-complementary;
      }
    }
  }
}

// Responsive
@include respond-to(medium) {
  .about-me {
    flex-direction: column;
    align-items: center;
    padding: 0;

    .profile-picture-container {
      margin: 0 0 6rem 0;

      &__img {
        width: 30rem;
        height: 30rem;
      }
    }

    .about-me-container {
      margin: 0 6rem;
    }
  }
}

@include respond-to(extra-small) {
  .about-me {
    padding: 0;
    
    .profile-picture-container__img {
      width: 25rem !important;
      height: 25rem !important; 
    }

    .about-me-container {
      margin: 0 2.5rem !important;
    }
  }
}